
Day_004/application_train.csv
Day_004/bureau.csv
Day_004/bureau_balance.csv
Day_004/credit_card_balance.csv
Day_004/installments_payments.csv
Day_004/POS_CASH_balance.csv
Day_004/previous_application.csv
Day_004/data/previous_application.csv
*.csv
Day_005/data/example.jpg
Day_005/data/example.mat
Day_005/data/example.npy
Day_005/data/example.pkl
Day_005/data/example.txt
Day_005/data/example01.json
Day_005/data/example02.json
Day_006/data/example.jpg
Day_006/data/example.mat
Day_006/data/example.npy
Day_006/data/example.pkl
Day_006/data/example.txt
Day_006/data/example01.json
Day_006/data/example02.json
Day_008/data/example.jpg
Day_008/data/example.mat
Day_008/data/example.npy
Day_008/data/example.pkl
Day_008/data/example.txt
Day_008/data/example01.json
Day_008/data/example02.json
Day_010/data/example.jpg
Day_010/data/example.mat
Day_010/data/example.npy
Day_010/data/example.pkl
Day_010/data/example.txt
Day_010/data/example01.json
Day_010/data/example02.json
Day_010/data/house_test.csv.gz
Day_010/data/house_train.csv.gz
